<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="/node_modules/angular/angular.min.js" charset="utf-8"></script>
    <script src="/app/app.js"></script>
  </head>
  <body ng-app="myApp">
    <table class="table" ng-controller="TableController as tctrl">
     <thead>
       <tr>
         <th ng-repeat="(key, value) in tctrl.users[0]">
            <span ng-bind="key"></span>
         </th>
       </tr>
     </thead>
     <tbody ng-init="name=user.name">
       <tr ng-repeat="user in tctrl.users | filter:searchUser | orderBy:name:reverse">
         <td ng-repeat="(key,value) in user">
           <span ng-bind="user[key]"></span>
         </td>
       </tr>
     </tbody>
    </table>
    <form action="#"class="pull-left" ng-init="reverse=true">
      <fieldset>
        <input type="text" class="form-control" ng-model="searchUser" placeholder="Filtrar usuario">
        <input type="button" class="form-control" ng-value="reverse ? 'descendente' : 'ascendente'" ng-click="reverse=!reverse">
      </fieldset>
    </form>
  </body>
</html>
